body {
    font-family: 'Montserrat', sans-serif;
    color: ##000000;
}

/****** GRID ******/

.full-width {
    width: 1200px;
    margin: 0 auto;
}
.half-width {
    width: 600px;
    float: left;
}
.third-width {
    width: 390px;
    height: 250px;
    float: left;
}

/***** HEADER *****/

header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #000000;
    padding: 37px 20px;
    text-transform: uppercase;
}

header h1 span {
    color: #77a466;
}

nav {
    float: right;
    padding: 43px 20px;
}
nav ul li{
    display: inline-block;
}
nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #77a466;
    padding-right: 10px;
}

/***** WELCOME *****/

#hero-img {
    border-top: 3px solid #77a466;
    border-bottom: 3px solid #77a466;
}

#welcome h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    color: #77a466;
    padding: 0px 20px;
}

#welcome p {
    line-height: 30px;
    float:left;
    padding: 0px 20px;
}

/***** INFO *****/

#info h3 {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 30px 0px 30px;

}

#info p {
    font-size: 16px;
    padding: 0px 30px;
}

#info #menu {
    line-height: 40px;
    color: #77a466;
}

#specials {
    border-top: 1px solid #dedbdc;
    border-bottom: 1px solid #dedbdc;
}

#reviews {
    border: 1px solid #dedbdc;
}

#contact {
    border-top: 1px solid #dedbdc;
    border-bottom: 1px solid #dedbdc;
}

/***** BANNER *****/

#banner h2 {
    clear: both;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 30px;
    color: #000000;
}

#banner h2 span {
    color: #77a466;
    font-family: 'Wisdom',
}
